.imageViewer {

	position: absolute;
	width: 0px;
	height: 0px;
	overflow: visible;
	left: 0px;
	top: 0px;

	white-space: nowrap;

	img {
		cursor: grab;
		object-fit: contain;
		vertical-align: middle;
	}

	&.grabbed {
		img {
			cursor: grabbing;
		}
	}
}