.imageViewer {

	position: absolute;
	width: 0px;
	height: 0px;
	overflow: visible;
	left: 0px;
	top: 0px;

	white-space: nowrap;
	user-select: none;

	img {
		cursor: grab;
		object-fit: contain;
		margin: 0 1rem;
		vertical-align: text-top;

		transform: translateY(-50%);

		-webkit-user-drag: none;
		user-drag: none;
	}

	&.grabbed {
		img {
			cursor: grabbing;
		}
	}
}

.imgWrap {
	position: relative;
	display: inline-block;
	transform: translateY(-50%);
	margin: 0 1rem;

	img {
		transform: none;
		margin: 0;
	}
}

.imgLabel {
	position: absolute;
	bottom: 100%;

	color: #fff;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.25em 0.5em 0.1em 0.5em;
	line-height: 1.2em;
}