.imageViewer {

	position: absolute;
	width: 0px;
	height: 0px;
	overflow: visible;
	left: 0px;
	top: 0px;

	white-space: nowrap;
	user-select: none;

	img {
		cursor: grab;
		object-fit: contain;
		margin: 0 1rem;
		vertical-align: text-top;

		transform: translateY(-50%);

		-webkit-user-drag: none;
		user-drag: none;
	}

	&.grabbed {
		img {
			cursor: grabbing;
		}
	}
}