.modalBase {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// width and height here despite position because of weird bugs on mobiles
	// there are retractable address line in mobile browsers
	// which sometimes lead to overlay not being able to reach the bottom
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	background-color: var(--color-block-auxiliary);
	transition: opacity 0.25s;
	opacity: 1;

	&.closeableByClick {
		cursor: pointer;
	}

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}