$arrowButtonSize: 3rem;

.taskPanel {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	position: relative;
	padding: 0 $arrowButtonSize;

	> .body {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
		min-width: 0;
	}

	> .arrow {
		position: absolute;
		top: 0;
		bottom: 0;

		color: var(--color-font-on-block);
		width: $arrowButtonSize;
		flex-grow: 0;
		background-color: transparent;
		cursor: pointer;
		transition: background-color 0.25s, opacity 0.25s;
		border-radius: 0.5rem;
		font-size: 2rem;

		&.disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		&.hidden {
			display: none;
		}
	}

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;

		.status,
		.doneCounter,
		.timer {
			color: var(--color-font-on-block);
			padding: 0.25em 0.3em;
		}

		.repeatButton,
		.killButton,
		.deleteButton {
			cursor: pointer;
			font-size: 1.5rem;
			padding: 0.25em 0.5em;

			&.hidden {
				display: none;
			}
		}
		
		.repeatButton {
			color: var(--color-button-disabled);
		}

		.killButton, .deleteButton {
			color: var(--color-cancel);
		}

		.timer {
			flex-grow: 1;
			text-align: right;
		}
	}

	.picturesWrap {
		overflow: hidden;

		.pictures {
			user-select: none;
			
			display: flex;
			flex-direction: row;
			align-items: stretch;
			gap: 1rem;
		}

	}	

	.footer {
		margin-top: 1em;

		display: flex;
		flex-direction: column;
		align-items: stretch;

		background: var(--color-block-accent);
		border-radius: 1.5em;
		overflow: hidden;

		.prompt {
			font-weight: bold;
			font-size: 0.9em;
			color: var(--color-font-on-block);
			flex-grow: 1;
			padding: 0.5em 1.5em;
			overflow-wrap: anywhere;
		}

		.useArgumentsButton, .addNoteButton {
			font-size: 1.5em;
			cursor: pointer;
			border-radius: 0.5em;
			padding: 0.5em;
			color: var(--color-font-on-block);

			background: transparent;
			transition: 0.25s;

			&.recentlyClicked {
				pointer-events: none;
				background: var(--color-button);
			}

			transition: background-color 0.25s linear;
			background-color: rgba(255, 255, 255, 0.0);
			&:hover {
				background-color: rgba(255, 255, 255, 0.5);
			}
		}

	}

	.taskExitCodeError {
		color: red;
		font-weight: bold;
		padding: 0.25rem;

		&.hidden {
			display: none;
		}
	}

}

@media (hover: hover) {
    .arrow:hover {
		background-color: var(--color-block-auxiliary);
	}
}