$arrowButtonSize: 3rem;

.taskPanel {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	position: relative;
	padding: 0 $arrowButtonSize;

	> .body {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
		min-width: 0;
	}

	> .arrow {
		position: absolute;
		top: 0;
		bottom: 0;

		width: $arrowButtonSize;
		flex-grow: 0;
		background-color: transparent;
		cursor: pointer;
		transition: background-color 0.25s, opacity 0.25s;
		border-radius: 0.5rem;
		font-size: 2rem;

		&:hover {
			background-color: rgba(128,128,128,0.5);
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		&.hidden {
			display: none;
		}
	}

	&.hidden {
		display: none;
	}

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;

		.id {
			color: #292828;
			font-weight: bold;
			padding: 0.25em 0.3em;
		}

		.status,
		.doneCounter,
		.timer {
			color: #625e5e;
			padding: 0.25em 0.3em;
		}

		.repeatButton,
		.killButton,
		.deleteButton {
			cursor: pointer;
			font-size: 1.5rem;
			padding: 0.25em 0.5em;

			&.hidden {
				display: none;
			}
		}
		
		.repeatButton {
			color: #87AF8D;
		}

		.killButton, .deleteButton {
			color: #E55F42;
		}

		.timer {
			flex-grow: 1;
			text-align: right;
		}
	}
	
	.picturesWrapWrap {
		// -webkit-mask-image: -webkit-linear-gradient(right, rgba(0,0,0,0) 0, rgba(0,0,0,1) $arrowButtonSize, rgba(0,0,0,1) 100%);
		mask-image: linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,1) $arrowButtonSize, rgba(0,0,0,1) 100%);
		margin-left: -$arrowButtonSize;
		margin-right: -$arrowButtonSize;
	}

	.picturesWrap {
		overflow: hidden;

		// -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0, rgba(0,0,0,1) $arrowButtonSize, rgba(0,0,0,1) 100%);
		mask-image: linear-gradient(to left, rgba(0,0,0,0) 0, rgba(0,0,0,1) $arrowButtonSize, rgba(0,0,0,1) 100%);
		padding-left: $arrowButtonSize;

		.pictures {
			display: flex;
			flex-direction: row;
			align-items: stretch;

			&:after {
				content: ' ';
				display: block;
				width: $arrowButtonSize;
				flex-shrink: 0;
			}
		}

	}	

	.footer {
		margin-top: 1em;

		display: flex;
		flex-direction: row;
		align-items: center;

		background: #cdbbb6;
		border-radius: 1.5em;
		overflow: hidden;

		.prompt {
			font-weight: bold;
			font-size: 0.9em;
			color: #5A5453;
			flex-grow: 1;
			padding: 0.5em 1.5em;
		}

		.useArgumentsButton {
			font-size: 1.5em;
			cursor: pointer;
			border-radius: 0.5em;
			padding: 0.5em;
			color: #5A5453;

			background: rgba(135, 185, 81, 0);
			transition: 0.25s;

			&.recentlyClicked {
				pointer-events: none;
				background: rgba(135, 185, 81, 0.5);
			}

		}

	}

}