.input-size {
	font-size: 1.35rem;
	line-height: 1.5em;
	height: 1.5em;
	border-radius: 1rem;
}

.input {
	@extend .input-size;

	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
	background: #fff;
	color: #505050;
}