.input-size {
	font-size: 1.35rem;
	line-height: 1.5em;
	height: 1.5em;
	border-radius: 1rem;
}

.input {
	@extend .input-size;

	box-shadow: inset 0px 2px 4px var(--color-shadow);
	background: var(--color-input-background);
	color: var(--color-font-on-input);
	outline-color: var(--color-font-on-input);
}