.noteBlock {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.noteInput {
	resize: none;
	background-color: transparent;
	border-radius: 0.5rem;
	border: 2px solid var(--color-border);
	color: var(--color-font-on-block);
	padding: 0.5rem;
	margin: 0.5rem;
	height: 100%;
	outline: none;
}

.noteText {
	color: var(--color-font-on-block);
	padding: calc(1rem + 2px);

	&.hidden {
		display: none;
	}
}