@use "../../controls/variables.scss" as *;

body {
	overflow-x: hidden;
}

.pageRoot {
	padding: 1rem;
	padding-right: 0;
	padding-bottom: 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
	max-height: 100vh;

	.settingsColumn {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		min-height: 0;
		flex: 1 1 0;

		width: 20vw;
		max-width: 35rem;
		min-width: 20rem;

		.settingsColumnScrollablePart {
			overflow-y: auto;
			flex: 1 1 0;
			// this padding just to ensure user that he's scrolled to the very bottom
			padding-bottom: 10rem;
			mask-image: linear-gradient(to top, rgba(0,0,0,0) 0, rgba(0,0,0,1) 3rem, rgba(0,0,0,1) 100%);
		}
	}
	
	.generationColumn {
		flex-grow: 1;
		flex-basis: 0;
		min-width: 0;
		padding-left: 1rem;

		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

}

.menuButton {
	display: none;
	margin-right: 1rem;
}

.propSetSelector {
	margin-bottom: 1rem;
}

.mainPageFeed {
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 0px;
    overflow-y: auto;
	mask-image: linear-gradient(to top, rgba(0,0,0,0) 0, rgba(0,0,0,1) 3rem, rgba(0,0,0,1) 100%);
}

.pageRoot[data-hide-some-scrollbars="true"] {
	.mainPageFeed::-webkit-scrollbar {
		display: none;
	}

	.settingsColumnScrollablePart::-webkit-scrollbar {
		display: none;
	}
}

.mainPageSwitchPanel {
	min-height: 0;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.favoritesFeed {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
	padding-top: 1rem;
}

@media only screen and (max-width: $mobile-breakpoint) {

	.menuButton {
		display: block;
	}

	.pageRoot {
		padding: 0;

		.settingsColumn {
			width: 90vw;
			height: 100vh;
			background-color: #cdbbb6;
			padding: 1rem;
		}

		.generationColumn {
			width: 100%;
			padding: 1rem;
		}
	}
}