@use "../../controls/variables.scss" as *;

body {
	overflow-x: hidden;
}

.pageRoot {
	padding: 1rem;
	padding-right: 0;
	padding-bottom: 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
	max-height: 100vh;
	
	.generationColumn {
		flex-grow: 1;
		flex-basis: 0;
		min-width: 0;
		padding-left: 1rem;

		display: flex;
		flex-direction: column-reverse;
		align-items: stretch;
	}

}

.pageRoot[data-hide-some-scrollbars="true"] {
	.settingsColumnScrollablePart::-webkit-scrollbar {
		display: none;
	}
}

.mainPageSwitchPanel {
	min-height: 0;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.defaultTabsAndSwitchPanelWrap {
	flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
}

.topInputRow {
	position: relative;
}

@media only screen and (max-width: $mobile-breakpoint) {

	.pageRoot {
		padding: 0;

		.generationColumn {
			width: 100%;
			padding: 1rem;
		}
	}
}