@use "../../controls/variables.scss" as *;

body {
	overflow-x: hidden;
}

.pageRoot {
	padding: 1rem;
	padding-right: 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;

	.settingsColumn {
		width: 20vw;
		max-width: 400px;
		min-width: 250px;
	}
	
	.generationColumn {
		flex-grow: 1;
		flex-basis: 0;
		min-width: 0;
		padding-left: 1rem;

		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

}

.menuButton {
	display: none;
	margin-right: 1rem;
}

.propSetSelector {
	margin-bottom: 1rem;
}

.mainPageFeed {
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 0px;
    overflow-y: auto;
}

.mainPageSwitchPanel {
	min-height: 0;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media only screen and (max-width: $mobile-breakpoint) {

	.menuButton {
		display: block;
	}

	.pageRoot {
		padding: 0;

		.settingsColumn {
			width: 90vw;
			height: 100vh;
			background-color: #cdbbb6;
			padding: 1rem;
		}

		.generationColumn {
			width: 100%;
			padding: 1rem;
		}
	}
}