body[data-visual-theme="default"] {
	--color-background: #E5D6D2;
	--color-block: #faf4f2;
	--color-block-secondary: #f5edeb;
	--color-block-accent: #cdbbb6;
	--color-block-selected: #fff;
	--color-block-auxiliary: rgba(0, 0, 0, 0.5);
	--color-block-selected: rgba(255, 255, 255, 0.5);
	--color-header: #D5C6C2;
	--color-border: #D5C6C2;
	--color-font-on-block: #706D6C;
	--color-font-on-input: #505050;
	--color-font-on-button: #fff;
	--color-font-on-auxiliary: #fff;
	--color-input-background: #fff;
	--color-input-disabled: #D5C6C2;
	--color-cancel: #E55F42;
	--color-favorite: #ffdb59;
	--color-button: #a0c2a5;
	--color-button-active: #bdb;
	--color-button-disabled: #8a8;
	--color-input-placeholder: #bfbfbf;
	--color-shadow: rgba(43, 34, 34, 0.2);
}