.page-root {
	padding: 1vw;
	display: flex;
	flex-direction: row;
	align-items: stretch;

	.settings-column {
		width: 20%;
		max-width: 400px;
		min-width: 250px;
	}
	
	.generation-column {
		width: 80%;
		padding-left: 1vw;
	}

}