.table {
	overflow-y: auto;
}

.tableRow {
	display: grid;
	color: var(--color-font-on-block);
	background-color: transparent;
	border-bottom: 1px dotted var(--color-border);
	text-align: left;
}

button.tableRow {
	cursor: pointer;
}

.tableHeaders {
	display: grid;
	color: var(--color-header);
	font-weight: bold;
}

.tableRow, .tableHeaders {
	&:first-child {
		border-top: 1px dotted var(--color-border);
	}

	> * {
		border-left: 1px dotted var(--color-border);
		padding: 0.5rem;
		height: 100%;
	}

	> *:last-child {
		border-right: 1px dotted var(--color-border);
	}
}