.mainPageFeed {
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 0px;
    overflow-y: auto;
}

.favoritesFeed {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
	padding-top: 1rem;
}

*[data-hide-some-scrollbars="true"] {
	.mainPageFeed::-webkit-scrollbar {
		display: none;
	}
}