.feed, .feedItemsContainer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.scrollToTopButton {
	position: absolute;
    bottom: 1rem;
    right: 1rem;

	cursor: pointer;
	font-size: 2rem;
    border: 3px solid var(--color-border);
	color: var(--color-border);
    border-radius: 100%;
    width: 3.5rem;
	height: 3.5rem;
    text-align: center;
    background: var(--color-block-secondary);
    box-sizing: border-box;
}