.feed, .feedItemsContainer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.feed {
	position: relative;
}

.scrollToTopButton {
	position: sticky;
    bottom: 1rem;
    left: 100%;
    margin: 1rem;

	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	transition: opacity 0.25s;

	font-size: 2rem;
    border: 3px solid #000;
    border-radius: 100%;
    width: 3.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    line-height: 2.5rem;
    padding-bottom: 0.5rem;

	&.visible {
		pointer-events: all;
		opacity: 1;
	}
}