.iconButton {
	height: 3.3333rem;
    width: 3.3333rem;
	line-height: 4.2rem;

	border-radius: 10rem;
	cursor: pointer;
	color: var(--color-font-on-button);
	background: var(--color-button);
	transition: 0.25s;

	border: 2px solid var(--color-font-on-button);
	box-sizing: content-box;

	&:before {
		font-size: 2rem;
		line-height: 1.5em;
		text-align: center;
	}

}

@media (hover: hover) {
    .iconButton:hover {
		background: var(--color-button-active);
	}
}