@use "../input_styles.scss";

$transition-time: 0.25s;
$handle-size: 1.25rem;
$inner-padding: 0.4rem;

.boolInput {
	@extend .input;

	cursor: pointer;
	background-color: var(--color-input-background);
	transition: $transition-time;
	box-shadow: inset 0px 2px 4px var(--color-shadow);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: $inner-padding calc(($handle-size / 2) + $inner-padding);

	&.on {
		background-color: var(--color-button);

		.boolInputHandle {
			left: 50%;
		}
	}

	.boolInputHandle {
		height: $handle-size;
		width: $handle-size;
		border-radius: $handle-size;
		
		position: relative;
		left: -50%;

		background-color: var(--color-block-secondary);
		box-shadow: 0px 2px 2px var(--color-shadow);
		transition: $transition-time;
	}
}