@use "../input_styles.scss";

$transition-time: 0.25s;
$handle-size: 1.25rem;
$inner-padding: 0.4rem;

.boolInput {
	@extend .input;

	cursor: pointer;
	background-color: #e2d9d9;
	transition: $transition-time;
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: $inner-padding calc(($handle-size / 2) + $inner-padding);

	&.on {
		background-color: #a0c2a5;

		.boolInputHandle {
			left: 50%;
		}
	}

	.boolInputHandle {
		height: $handle-size;
		width: $handle-size;
		border-radius: $handle-size;
		
		position: relative;
		left: -50%;
	
		background-color: #fff;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
		transition: $transition-time;
	}
}