.tooltipIcon {
	font-size: 0.9rem;
    border-radius: 100%;
    border: 2px solid #625e5e;
    color: #625e5e;
    font-weight: bold;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    margin-left: 0.25rem;
    cursor: default;
}

.content {
	text-align: left;
	overflow-y: auto;

	background: #cdbbb6;
	border: 2px solid #625e5e;
	border-radius: 1rem;
	padding: 0.75rem;
	font-size: 1rem;
	max-width: 35rem;
	width: max-content;
	white-space: pre-wrap;
}