.overlayItemVerticalWrap {
	position: absolute;
	opacity: 0;
	transition: opacity 0.2s;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.overlayItemHorisontalWrap {
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
	max-width: 100%;
}

.overlayItemVerticalWrap, 
.overlayItemHorisontalWrap {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	pointer-events: none;
}

.padding {
	flex-grow: 0;
	flex-basis: auto;
}

.overlayContentWrap {
	pointer-events: all;
	max-height: 100%;
	display: flex; // helps with overflows, magically
	min-width: 0;
}