.loginBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--color-block);
	border-radius: 4rem;
	padding: 0.35rem;
	margin-bottom: 1rem;
	flex: 1 1 0;
	min-width: 0;

	.avatar {
		height: 3rem;
		width: 3rem;
		border-radius: 3rem;
	}

	.nickname {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
		min-width: 0;

		color: var(--color-font-on-block);
		font-size: 1.35rem;
		line-height: 1.5em;
		padding: 0 0.5em;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.settingsIcon {
		margin-right: 0.35rem;
	}
}