$max-size: 23em;

.taskPicture {
	flex-shrink: 0;
	height: $max-size;
	overflow: hidden;
	border-radius: 0.5em;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: relative;

	max-width: 0;
	transition: max-width 0.2s;

	&.loaded {
		max-width: $max-size;
	}

	> img {
		height: 100%;
		width: auto;
	}

	&.disabled {
		pointer-events: none;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 0;
		transition: opacity 0.2s;

		> * {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0;
			min-height: 0;
		}

		.iconOpen {
			color: #ddd;
			font-size: 4rem;
			text-align: center;
		}


		.topRow {
			align-items: flex-start;
			justify-content: flex-end;
		}

		.bottomRow {
    		justify-content: space-between;
			align-items: flex-end;
		}

		.middleRow {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		.topRow,
		.bottomRow {
			display: flex;
			flex-direction: row;
		}

		.iconShowParams, .iconCopy, .iconFavorite, .iconLink {
			padding: 1rem;
			font-size: 1.5rem;
			cursor: pointer;
			color: #ddd;

			opacity: 0.25;
			transition: opacity 0.25s;

			&:hover {
				opacity: 1;
			}
		}

		.iconFavorite {
			color: #ffdb59;
		}

		.iconCopy {
			position: relative;
			
			> * {
				position: absolute;
				bottom: 13px;
				right: 20px;
				font-weight: bold;
				color: #fff;
			}
		}

		.iconShowParams {
			span {
				font-size: 1.5rem;
			}

			.cornerBracket {
				display: inline-block;
				transform: scaleX(0.75) scaleY(2);
			}

			.letter {
				font-size: 1rem;
				vertical-align: middle;
			}
		}
	}
}

@media (hover: hover) {
    .overlay:hover {
		opacity: 1;
	}
}