@use "../input_styles.scss";

.picture-input {
	@extend .input;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	label {
		display: block;
		flex-grow: 1;
		flex-shrink: 1;
		cursor: pointer;
		font-size: 1.2rem;
		text-align: center;
		line-height: 2em;
	}

	&.uploading, &.loading {
		pointer-events: none;
	}

	input {
		opacity: 0;
		position: absolute;
		z-index: -1;
	}

	.maskButton {
		height: 2rem;
		width: 2rem;
		cursor: pointer;

		background: #a0c2a5;
		font-size: 1.5rem;
		border-radius: 100%;

		display: flex;
		flex-direction: row;
		align-items: center;

		&.hidden {
			display: none;
		}
	}
}