.toastContainer {
	position: fixed;
	bottom: 0;
	right: 0;
	background: transparent;

	display: flex;
	flex-direction: column-reverse;
}

.toast {
	border-radius: 0.5em;
	padding: 0.25em 0.5em;
	cursor: pointer;
	max-width: 30em;
	border: 2px solid black;
	margin: 0.5em;

	> * {
		font-size: 1.2rem;
	}

	&.info {
		background: var(--color-block-accent);
		border: 2px solid var(--color-font-on-block);
		color: var(--color-font-on-block);
	}

	&.error {
		background-color: pink;
		border-color: red;
	}

	&.success {
		background-color: lightgreen;
		border-color: lime;
	}

}

.topToastWrap {
	width: 100vw;
	padding: 2rem;
	pointer-events: none;

	display: flex;
    flex-direction: row;
    justify-content: center;
}

.topToast {
	pointer-events: none;
	text-align: center;
	overflow-y: auto;

	background: var(--color-block-accent);
	border: 2px solid var(--color-font-on-block);
	color: var(--color-font-on-block);
	border-radius: 1rem;
	padding: 0.75rem;
	font-size: 1rem;
	max-width: 35rem;
	width: max-content;
	white-space: pre-wrap;
}