@use "../../controls/input_styles.scss";

.pictureInput {
	@extend .input;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	overflow: hidden;

	&:focus {
		outline: 2px solid var(--color-button);
	}

	.text {
		display: block;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
		min-width: 0;
		cursor: pointer;
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.5em;
		padding: 0.25rem 0 0.25rem 0.5rem;
		white-space: nowrap;
	}

	&.uploading, &.loading {
		pointer-events: none;
	}

	input {
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}

	.maskButton, .selectFileButton {
		height: 2rem;
		width: 2rem;
		cursor: pointer;

		background: var(--color-button);
		font-size: 1.5rem;
		border-radius: 100%;
		color: var(--color-font-on-button);

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		&.hidden {
			display: none;
		}
	}
}