.promptInput {

	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1 1 0;
	min-width: 0;
	padding: 0 3rem;

	.selectSearchWrap {
		z-index: 10;
		flex: 1 1 0;
		min-width: 0;
		max-width: 25rem;

		display: flex;
		flex-direction: row;
	}

	.firstLine {
		position: relative;
		flex-grow: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		background-color: #fff;
		border-radius: 100px;
	}

	.inputWrap {
		position: relative;
		flex: 1 1 auto;
		align-self: flex-start;
	}

	.inputInput {
		flex-grow: 1;
		font-size: 1.35rem;
		line-height: 1.5em;
		margin-left: -1em;
		margin-right: 1.5em;
		color: #706D6C;
		min-width: 0;
		resize: none;
		max-height: 2.6em;
		position: absolute;
		padding: 0.55em;
		top: 0;
		left: 1em;
		right: 0;
		overflow-y: hidden;
		outline: none;
		transition: max-height 0.25s;
		z-index: 5;
		border-radius: 1em;

		&:focus {
			max-height: 15em;
			overflow-y:auto;
		}

		&::placeholder {
			color: #bfbfbf;
		}
	}

	.generateButton {
		cursor: pointer;
		color: #fff;
		background: #a0c2a5;
		border-radius: 10em;
		transition: 0.25s;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		font-size: 1.35rem;
		width: 2.6em;
		z-index: 10;

		&:before {
			position: relative;
			left: 2px;
			margin: 0;
			font-size: 2rem;
		}

	}

}

@media (hover: hover) {
    .generateButton:hover {
		background: #bdb;
	}
}