
.icon-brush:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-resize-full-alt:before { content: '\e802'; } /* '' */
.icon-ccw:before { content: '\e803'; } /* '' */
.icon-loop:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */
.icon-trash-empty:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-up-open:before { content: '\e80c'; } /* '' */
.icon-camera-outline:before { content: '\e80d'; } /* '' */
.icon-logout:before { content: '\e80e'; } /* '' */
.icon-puzzle:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-left-open-big:before { content: '\e811'; } /* '' */
.icon-right-open-big:before { content: '\e812'; } /* '' */
.icon-copy-single:before { content: '\e813'; } /* '' */
.icon-copy-task:before { content: '\e814'; } /* '' */
.icon-copy-json-single:before { content: '\e815'; } /* '' */
.icon-copy-json-task:before { content: '\e816'; } /* '' */
.icon-paste-json:before { content: '\e817'; } /* '' */
.icon-warning-empty:before { content: '\e818'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
