
.icon-brush:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-resize-full-alt:before { content: '\e802'; } /* '' */
.icon-ccw:before { content: '\e803'; } /* '' */
.icon-loop:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-trash-empty:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-up-open:before { content: '\e80c'; } /* '' */
.icon-camera-outline:before { content: '\e80d'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
