.image-mask-input-wrap {

	padding: 0.5rem;
	border-radius: 0.25rem;
	background: #cdbbb6;

	.image-mask-input {
		position: relative;

		> * {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			// those two are just for SVG
			width: 100%;
			height: 100%;
		}
	}

	.image-mask-input-buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: stretch;

		.image-mask-input-button {
			margin: 0.25rem;
			font-size: 1.25rem;
			border-radius: 1rem;
			padding: 0.25rem 1rem;
			background: #a0c2a5;
			cursor: pointer;
			color: #fff;
			border: 2px solid #fff;
		}
	}

}

.polygons-input {
	.polygon {
		fill: gray;
	}
}