.param-line {
	padding: 0.33rem 0;

	.param-line-label {
		white-space: nowrap;
		font-size: 1.35rem;
		color: #625e5e;
		display: flex;
		flex-direction: row;
    	align-items: center;
	}

	.param-line-revert-button {
		color: #e55f42;
		cursor: pointer;
		font-size: 1.35rem;
		line-height: 1.5em;
		transition: 0.25s;
		opacity: 1;

		&.hidden {
			opacity: 0;
			pointer-events: none;
		}
	}

	.param-line-input-wrap {
		width: 100%;

		.input {
			width: 100%;
			max-width: 100%;
		}
	}

}