@use "./themes/default";
@use "./themes/dark";

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--color-background);
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;

	> * {
		flex-grow: 1;
	}
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.3em;
	font-size: 1rem;
	font-family: 'OpenSans', Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../../static/font/opensans_medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../../static/font/opensans_bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.lock-unlocked:before {
	// lock-unlocked needs to be aligned with lock-locked
	// both of them are centered, hovewer logical center of lock-unlocked is shifted
	// that's why we need to shift it back
	position: relative;
	left: 0.15em;
}