@use "../../fontello/fontello-codes";

html {
	font-size: 12px;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #E5D6D2;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;

	> * {
		flex-grow: 1;
	}
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.3em;
	font-size: 1rem;
	font-family: 'OpenSans', Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: 'fontello';
	src: url('../../static/font/fontello.eot');
	src: url('../../static/font/fontello.eot#iefix') format('embedded-opentype'),
		 url('../../static/font/fontello.woff2') format('woff2'),
		 url('../../static/font/fontello.woff') format('woff'),
		 url('../../static/font/fontello.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../../static/font/opensans_medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../../static/font/opensans_bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
  
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
  
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
  
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
  
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}