
.formField {
	padding: 0.15rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;

	&.wrappable {
		flex-wrap: wrap;
	}

	.label {
		white-space: nowrap;
		font-size: 1.35rem;
		color: var(--color-font-on-block);
		display: flex;
		flex-direction: row;
    	align-items: center;
		padding-top: 0.2rem;
		flex: 0 0 auto;
		width: var(--form-label-width);
		min-width: 0;

		.labelText {
			font-size: 1.35rem;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.revertButton {
		color: var(--color-cancel);
		cursor: pointer;
		font-size: 1.35rem;
		line-height: 1.5em;
		transition: 0.25s;
		opacity: 1;
		flex: 0 0 auto;
		margin: 0 0.2em;

		&.hidden {
			opacity: 0;
			pointer-events: none;
		}
	}

	.inputWrap {
		position: relative;
		flex: 1 1 0;
		min-width: 0;

		&.fullWidthFullHeight {
			width: 100%;
			flex-basis: auto;
		}

		> :not(.deleteButton):not(.favoriteButton) {
			width: 100%;
			max-width: 100%;
		}

		&.withDeleteButton {
			.deleteButton {
				display: block;
			}
		}

		.deleteButton {
			display: none;
			color: var(--color-cancel);
			cursor: pointer;
			font-size: 1.35rem;
			line-height: 1.5em;
			position: absolute;
			right: 0;
			top: 0;
			margin-right: 0.2em;
		}

		.favoriteButton {
			cursor: pointer;
			position: absolute;
			color: var(--color-favorite);
			top: 0.1rem;
			left: 0.1rem;
			font-size: 1.5rem;
			margin-left: 0.2em;
		}
	}

}