.form {
	width: 100%;
}

.formField {
	padding: 0.33rem 0;

	.label {
		white-space: nowrap;
		font-size: 1.35rem;
		color: #625e5e;
		display: flex;
		flex-direction: row;
    	align-items: center;
		padding-top: 0.2rem;
	}

	.revertButton {
		color: #e55f42;
		cursor: pointer;
		font-size: 1.35rem;
		line-height: 1.5em;
		transition: 0.25s;
		opacity: 1;

		&.hidden {
			opacity: 0;
			pointer-events: none;
		}
	}

	.inputWrap {
		width: 100%;
		position: relative;

		> :not(.deleteButton) {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			max-width: 100%;
		}

		&.withDeleteButton {
			> :not(.deleteButton) {
				width: auto;
				right: 2rem;
			}

			.deleteButton {
				display: block;
			}
		}

		.deleteButton {
			display: none;
			color: #e55f42;
			cursor: pointer;
			font-size: 1.35rem;
			line-height: 1.5em;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

}