.settingsSubblockHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.6rem;
	padding-bottom: 0;
	gap: 0.5rem;

	&.childrenVisible {
		padding-bottom: 0.6rem;
	}

	> hr {
		height: 2px;
		background: #E5D6D2;
		flex-grow: 1;
		opacity: 0.75;
	}

	.text {
		flex-grow: 0;
		font-weight: bold;
		color: #D5C6C2;
		font-size: 1.35rem;
	}

	.closeButton {
		color: #d5c6c2;
		cursor: pointer;
		background-color: transparent;
		height: 100%;
		display: block;
	}
}