@use "../input_styles.scss";

.select { 
    font-size: 1.25rem;
    width: 100%;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color: #706d6c;

    &.param {
        @extend .input;

        padding-top: 0;
    }

    &:not(.param) {
        background: #faf4f2;
    }
}