.settings-subblock-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 16px;
}

.settings-subblock-header > hr {
	height: 2px;
	background: #E5D6D2;
	flex-grow: 1;
	opacity: 0.75;
}

.settings-subblock-header-text {
	flex-grow: 0;
	font-weight: bold;
	color: #D5C6C2;
	padding: 0 0.5em;
	font-size: 1.35rem;
}